# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
env/
venv/
.venv/

# ============================
# Environment & Secrets
# ============================
.env

# ============================
# Output Data
# ============================
*.csv
*.xlsx
output/

# ============================
# Logs
# ============================
*.log

# ============================
# IDE / Editor
# ============================
.vscode/
.idea/
*.swp
*.swo
